{% extends "polls/layout.html" %}
{% block body %} 
    <h1 style="text-align: center;font-size: 45px;padding-top: 46px;">Headline Vs Headline</h1>
    <p style="padding-left: 2rem">Hey! Thanks for checking out the site. My goal was 2 fold:</p>
    <ol style="padding-left: 2rem; width: 50%">
        <li style="padding-left: 2rem">Keep my self busy! I often go a bit crazy around the house durring breaks, 
            and having something to work on stops helps combat that</li>
        <li style="padding-left: 2rem">Alow people to compare the news. By looking at the headline of multiple sources,
            we can see what they think is important. I tried to include hard left, mid left,
            mid right, and hard right sources. Just so that it's clear: their inclusion is <b>not</b>
            an endorsement from me.</li>
    </ol>
    <p style="padding-left: 2rem">Please feel free to check out the <a href="https://github.com/bacarpenter/headline-vs-headline">GitHub repo</a> and my <a href="https://bcarpenter.tech">personal website</a>.</p>
    <div style="text-align: center; padding-top: 30px;"><a type="button" class="btn btn-primary btn-lg" role="button" href="/">Back</a></div>
{% endblock %}